<h1>ユーザー詳細</h1>
<div class="circle-avatar">
  <p><%= image_tag @user.avatar.to_s %></p>
  <p>name : <%= @user.name %></p>
  <p>profile: <%= @user.profile %>
</div>
<hr>

<% @photos.each do |photo| %>
  <hr>
  <p><%= image_tag photo.image.to_s %></p>
  <p><span>emai: </span><%= @user.email %></p>
  <p><span>投稿内容: </span><%= link_to photo.caption, photo_path(photo.id) %></p>
  <p><span>お気に入り: </span><%= photo.favorites.count %></p>
<% end %>
