<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
    <%= image_tag(@photo.image_url) if @photo.image.present? %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>コメント一覧（ここから下の内容が重要）</p>

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, photo: @photo } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, photo: @photo } %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
